<h1>Who is the Artist? What instruments to they play?</h1>

<%= form_for @artist_instrument do |f| %>

<%= f.label :instrument_id%>

<%= f.label :artist_id%>
<%= f.collection_select :artist_id, @artists, :id, :name %><br>
<%= f.label :instrument_id%>
<%= f.collection_select :instrument_id, @instruments, :id, :name %>
<br>
<br>
<%= f.submit %>
<% end %>